.banner{
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://user-images.githubusercontent.com/48391389/54085022-1a99e180-4339-11e9-8265-254e4cf4bee7.jpg);
	color: white;
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 40px;
	opacity: 0.9;
}

.banner h2 {
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}